source https://api.nuget.org/v3/index.json

nuget FSharp.Core
nuget coverlet.collector 1.0.1
nuget Microsoft.NET.Test.Sdk 16.2.0
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget Unquote
nuget FsCheck
nuget FsCheck.Xunit